@charset "UTF-8";

@font-face {
    font-family: ;
    src: url();
}

/* ########################### COMEÇO GERAL ########################### */
.area-title-n2 {
    font-size: 2.2em;
    text-align: center;
    margin: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.area-title-n2 img {
    width: 200px;
}
/* ########################### FIM GERAL ########################### */



/* ########################### COMEÇO HEADER ########################### */
/* Começo logo */
#area-cabecalho {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
}

#logo {
    width: 50%;
    display: flex;
    justify-content: start;
}
/* Fim logo */

/* Começo menu */
#menu {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#menu nav ul {
    display: flex;
    gap: 25px;
}

#menu nav ul li::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #a0a0a0;
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

#menu nav ul li:hover::after {
    width: 90%;
}

#menu nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
}
/* Fim menu */
/* ########################### FIM HEADER ########################### */



/* ########################### COMEÇO INICIO ########################### */
#area-inicial {
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
}

#inicial-img-solar {
    width: 50%;
    display: flex;
    justify-content: end;
}

#inicial-img-solar img {
    width: 95%;
    margin: 20px 0;
}

#inicial-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inicial-text p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    gap: 15px;
}

#inicial-text p img {
    width: 200px;
}
/* ########################### FIM INICIO ########################### */



/* ########################### COMEÇO MISSÃO ########################### */

/* ########################### FIM MISSÃO ########################### */



/* ########################### COMEÇO SERVIÇOS ########################### */

/* ########################### FIM SERVIÇOS ########################### */



/* ########################### COMEÇO SOBRE NÓS ########################### */

/* ########################### FIM SOBRE NÓS ########################### */



/* ########################### COMEÇO PRODUTOS ########################### */
#area-produtos {
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter-arc {
    display: flex;
    gap: 20px;
}

.filter-element {
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.2s ease linear;
}

.filter-element:hover {
    color: #666464;
}

.filter-element::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #a0a0a0;
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

.filter-element:hover::after {
    width: 90%;
}

#arc {
    margin-top: 20px;
}

#arc ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

#arc ul li {
    transition: all 0.2s ease;

}

#arc ul li:hover {
    transform: scale(1.05);
}

#arc ul li a img {
    width: 250px;
}
/* ########################### FIM PRODUTOS ########################### */



/* ########################### COMEÇO FOOTER ########################### */

/* ########################### FIM FOOTER ########################### */



/* ########################### COMEÇO DETALHES PRODUTOS ########################### */

/* ########################### FIM DETALHES PRODUTOS ########################### */