@charset "UTF-8";

@font-face {
    font-family: 'titulos';
    src: url(../font/comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'textos';
    src: url(../font/creato_display/CreatoDisplay-Regular.otf);
}

:root {
    --cor-branca: #fff;
    --cor-cinza: #f5f5f5;
    --cor-cinza-escuro: #a0a0a0;
    --cor-grafite: #666464;
    --cor-preto: #000;
    --cor-azul-escuro: #0077ff;
    --cor-azul-escuro-opc: #0077ff9c;
    --cor-azul: #6aadfa; 
    --cor-azul-claro: #a7e2fd;
}

/* ########################### COMEÇO GERAL ########################### */
html {
    scroll-behavior: smooth;
}

body {
    cursor: url(../images/cursor-default.cur), default;
    padding-top: 50px;
}

body a {
    cursor: url(../images/cursor_pointer.cur), pointer;
}

.area-title-n2 {
    font-size: 2em;
    text-align: center;
    margin: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    font-family: 'titulos', sans-serif;
}

.area-title-n2 img {
    width: 180px;
}

body p, a, h3 {
    font-family: 'textos', sans-serif;
}
/* ########################### FIM GERAL ########################### */



/* ########################### COMEÇO HEADER ########################### */
#area-cabecalho {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    background-color: var(--cor-cinza);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

#area-cabecalho.fixo {
    transition: 0.5s;
    z-index: 999;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
    height: 55px;   
}
/* Começo logo */
#logo {
    width: 50%;
    display: flex;
    justify-content: start;
}
/* Fim logo */

/* Começo menu */
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor-preto);
    margin: 8px;
    transition: 0.3s;
}

#menu {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

#menu nav ul {
    display: flex;
    gap: 35px;
}

#menu nav ul li::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--cor-azul-escuro);
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

#menu nav ul li:hover::after {
    width: 90%;
}

#menu nav ul li a {
    font-size: 1.4em;
    text-decoration: none;
    color: var(--cor-preto);
}
/* Fim menu */
/* ########################### FIM HEADER ########################### */



/* ########################### COMEÇO INICIO ########################### */
/* Começo geral */
#area-inicial {
    background-color: var(--cor-cinza);
    display: flex;
    width: 100%;
    height: 80vh;
}
/* Fim geral */

/* Começo imagem energia solar */
#inicial-img-solar {
    width: 50%;
    display: flex;
    justify-content: start;
}

#inicial-img-solar img {
    width: 95%;
    height: 80%;
    margin: 10px 0;
}
/* Fim imagem energia solar */

/* Começo texto */
#inicial-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#inicial-text p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    gap: 15px;
    margin-left: 90px;
}

#inicial-text p img {
    width: 310px;
}
/* Fim texto */
/* ########################### FIM INICIO ########################### */



/* ########################### COMEÇO MISSÃO ########################### */
/* Começo geral */
#area-missao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-azul-escuro);
    height: 300px;
}
/* Fim geral */

/* Começo visões/valores */
.itens-missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.itens-missao img {
    color: var(--cor-branca);
    width: 90px;
}

.itens-missao .area-title-n3 {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--cor-branca);
}

.itens-missao p {
    font-style: italic;
    font-size: 0.98em;
    line-height: 20px;
    font-weight: 500;
    color: var(--cor-branca);
    text-align: center;
}
/* Fim visões/valores */
/* ########################### FIM MISSÃO ########################### */



/* ########################### COMEÇO SERVIÇOS ########################### */
#area-servicos {
    height: 450px;
}

#itens-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lista-servicos {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-top: 15px;
}

.lista-servicos li p {
    font-size: 1em;
}

.lista-servicos li .img-l-servicos {
    width: 193px;
    border-radius: 20px;
}

.lista-servicos li {
    text-align: start;
    width: 32%;
    margin: 2px;
    display: flex;
    gap: 10px;
}
/* ########################### FIM SERVIÇOS ########################### */



/* ########################### COMEÇO SOBRE NÓS ########################### */
/* Começo geral */
#area-sobre {
    background-color: var(--cor-cinza);
    display: flex;
    justify-content: space-between;
    height: 450px;
}
/* Fim geral */

/* Começo sobre */
#text-sobre {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    width: 60%;
}

#text-sobre div {
    text-align: center;
    margin-right: 85px;
    width: 65%;
}

#text-sobre div p {
    font-size: 1.1em;
    line-height: 25px;
}
/* Fim sobre */

/* Começo imagem */
#img-sobre {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-sobre img {
    width: 90%;
}
/* Fim imagem */
/* ########################### FIM SOBRE NÓS ########################### */



/* ########################### COMEÇO PRODUTOS ########################### */
/* Começo geral */
#area-produtos {
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Fim geral */

/* Começo opções filtro */
#filter-arc {
    display: flex;
    gap: 20px;
}

.filter-element {
    font-size: 1em;
    cursor: url(../images/cursor_pointer.cur), pointer;
    background-color: transparent;
    border: none;
    transition: 0.2s ease linear;
}

.filter-element:hover {
    color: var(--cor-grafite);
}

.filter-element::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--cor-azul-escuro);
    margin: 3px auto auto;
    display: block;
    transition: 0.3s;
}

.filter-element:hover::after {
    width: 90%;
}
/* Fim opções filtro */

/* Começo produtos */
#arc {
    margin-top: 20px;
}

#arc ul {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

#arc ul li {
    transition: all 0.2s ease;
    border-radius: 5px;
}

#arc ul li:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 11px -1px var(--cor-azul);
    -moz-box-shadow: 0px 0px 11px -1px var(--cor-azul);
    box-shadow: 0px 0px 11px -1px var(--cor-azul);
}

#arc ul li a img {
    width: 170px;
}
/* Fim produtos */
/* ########################### FIM PRODUTOS ########################### */



/* ########################### COMEÇO FOOTER ########################### */
/* Começo geral */
#rodape-area {
    background-color: var(--cor-azul-claro);
    display: flex;
    width: 100%;
    height: 620px;
}

#title-contato {
    font-size: 2em;
    margin: 40px 0 0 0;
}

#title-contato img {
    width: 40%;
}

#imagem-contato {
    width: 50%;
    height: 100%;
}

#imagem-contato img {
    width: 95%;
    height: 100%;
}

#area-contato {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#area-contato h3 {
    font-weight: 500;
    font-variant: small-caps;
}
/* Fim geral */

/* Começo endereço */
#endereco-contato {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 40px;
    width: 100%;
}

#endereco-contato h3 {
    font-size: 1.2em;
}

#endereco-contato p {
    margin-top: 15px;
    font-size: 0.8em;
}

#endereco, #contato {
    width: 50%;
}
/* Fim endereço */

/* Começo formulário*/
#form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#title-contato-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#form-contato h3 {
    font-size: 1.5em;
}

#form-contato #form-itens {
    display: flex;
    width: 100%;
    gap: 15px;
}

#form-contato #form-itens .in-contato {
    width: 50%;
    padding: 5px 2px;
    outline: none;
    border: none;
    border-bottom: var(--cor-azul-escuro-opc) solid 2px;
    background-color: transparent;
    font-style: italic;
}

#form-mensagem {
    width: 100%;
}

#form-contato textarea {
    margin-top: 20px;
    width: 100%;
    padding: 5px 2px;
    outline: none;
    border: none;
    border-bottom: var(--cor-azul-escuro-opc) solid 2px;
    background-color: transparent;
    font-style: italic;
}

.button {
    margin: 30px auto;
    width: 90px;
    height: 38px;
    background-color: transparent;
    border: var(--cor-preto) solid 1px;
    border-radius: 3px;
    cursor: url(../images/cursor_pointer.cur), pointer;
    font-weight: bold;
    transition: 0.1s ease-in;
}

.button:hover {
    background-color: var(--cor-azul-escuro);
    border: var(--cor-azul-escuro) solid 1px;
    color: var(--cor-branca);
}
/* Fim formulário*/

/* Começo redes sociais */
#redes-sociais {
    display: flex;
    justify-content: end;
    gap: 10px;
}

#redes-sociais img {
    width: 30px;
    border: solid 1px var(--cor-preto);
    border-radius: 5px;
    padding: 5px;
    transition: 0.2s ease-in;
}

#redes-sociais a {
    transition: 0.2s ease-in;
}

#redes-sociais a:hover, #redes-sociais img:hover {
    transform: scale(1.05);
}
/* Fim redes sociais */

/* Começo top scroll */
#top-scroll {
    position: fixed;
    top: 90%;
    left: 95%;
    background-color: var(--cor-grafite);
    width: 60px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(../images/cursor_pointer.cur), pointer;
    transition: 0.2s ease-in;
}

#top-scroll:hover {
    background-color: var(--cor-cinza-escuro);
}

#top-scroll span {
    font-size: 30px;
    color: var(--cor-branca);
}
/* Fim top scroll */

/* Começo copyright */
#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: var(--cor-branca);
}

#copyright {
    color: var(--cor-preto);
}
/* Fim copyright */
/* ########################### FIM FOOTER ########################### */



/* ########################### COMEÇO DETALHES PRODUTOS ########################### */
/* Começo geral */
#area-detalhes {
    width: 90%;
    margin: 10px auto;
    background-color: var(--cor-cinza);
    border-radius: 10px;
}
/* Fim geral */

/* Começo topo 'voltar' */
.main-topo {
    display: flex;
    width: 90%;
    margin: 40px auto;
    gap: 20px;
    border-bottom: 1px solid #b6b1b1;
    border-top: 1px solid #b6b1b1;
    padding: 10px 0;
}

.main-topo a {
    text-decoration: none;
    color: #a09999;
    transition: all 0.2s ease;
    font-size: 0.9em;
}

.main-topo a:hover {
    text-decoration: none;
    color: #746e6e;
}

.main-topo a::after {
    content: " ";
    border-right: 1px solid #b6b1b1;
    height: 60px;
    padding-left: 20px;
}

.main-topo a i {
    padding-right: 10px;
}

.main-topo p {
    font-weight: bold;
    font-size: 0.9em;
}
/* Começo topo 'voltar' */

#produtos {
    display: flex;
}

#img-geral {
    width: 90%;
    display: flex;
    justify-content: center;
}

#area-dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#area-dados h2 {
    font-size: 1.5em;
    text-align: center;
}

#area-dados #descricao {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    width: 65%;
}

#area-dados #descricao a {
    color: var(--cor-grafite);
    cursor: url(../images/cursor_pointer.cur), pointer;
    text-decoration: none;
}

#area-dados #descricao a:hover {
    color: var(--cor-cinza-escuro);
}

#area-dados #dados-preco {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-right: 27px;
}

#area-dados #dados-preco h3 {
    font-size: 1.2em;
    font-weight: bold;
}

#area-dados #dados-preco .sem-promo {
    text-decoration: line-through;
}

#area-dados #dados-preco p {
    font-size: 0.9em;
}

#area-dados #dados-preco p .promo {
    font-weight: bold;
}

#area-dados #img-linha {
    display: flex;
    justify-content: center;
    width: 35vw;
    margin: 5px auto 40px;
}

#area-dados #img-linha img {
    width: 50%;
}

#area-dados #btn-compra {
    display: flex;
    justify-content: center;
}

#area-dados #btn-compra button {
    cursor: url(../images/cursor_pointer.cur), pointer;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: bolder;
    background-color: transparent;
    transition: 0.5s;
}

#area-dados #btn-compra button:hover {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branca);
    border: none;
}

/* Descrição completa começo */
#descricao-completa {
    display: flex;
    flex-direction: column;
    width: 55vw;
    padding: 30px;
    gap: 20px;
}

#descricao-completa h3 {
    font-size: 1.5em;
    font-weight: bold;
}

#descricao-completa p {
    line-height: 25px;
}
/* Descrição completa fim */
/* ########################### FIM DETALHES PRODUTOS ########################### */


/* ########################### COMEÇO RESPONSIVO ########################### */
@media screen and (max-width: 1200px) {
    /*---------------- HEADER COMEÇO -------------------*/
    #menu nav ul li a {
        font-size: 1.233em;
    }
    /*---------------- HEADER FIM -------------------*/



    /*---------------- MISSÃO COMEÇO -------------------*/
    #area-missao {
        height: 100%;
        flex-wrap: wrap;
        padding: 30px 0;
        gap: 25px;
    }
    /*---------------- MISSÃO FIM -------------------*/



    /*---------------- SERVIÇOS COMEÇO -------------------*/
    #area-servicos {
        height: 10%;
        padding-bottom: 30px;
    }

    .lista-servicos {
        margin-top: 25px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .lista-servicos li {
        text-align: center;
        width: 45%;
    }
    /*---------------- SERVIÇOS FIM -------------------*/



    /*---------------- PRODUTOS COMEÇO -------------------*/
    #arc ul {
        flex-wrap: wrap;
    }
    
    #area-produtos {
        height: 10%;
    }
    /*---------------- PRODUTOS FIM -------------------*/



    
    /*---------------- FOOTER COMEÇO -------------------*/
    #top-scroll {
        left: 91%;
    }
    /*---------------- FOOTER FIM -------------------*/
}




@media screen and (max-width: 999px) {
    /*---------------- HEADER COMEÇO -------------------*/  
    body {
        overflow-x: hidden;
    }

    #menu {
        justify-content: end;
    }

    #menu nav.ajuste {
        top: 55px;
        transition: 0.5s;
    }

    #menu nav {
        position: absolute;
        top: 60px;
        right: 0;
        width: 50vw;
        height: 100vh;
        background: var(--cor-cinza);
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        transition: 0.5s;
    }

    #menu nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #menu nav ul {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        margin-right: 30px;
    }
      
    #menu nav.active {
    transform: translateX(0);
    }
      
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
      
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    /*---------------- HEADER FIM -------------------*/



    /*---------------- FOOTER COMEÇO -------------------*/
    #imagem-contato {
        display: none;
    }

    #rodape-area {
        justify-content: center;
    }

    #area-contato {
        width: 80%;
    }

    #top-scroll {
        left: 91.5%;
    }
    /*---------------- FOOTER FIM -------------------*/



    /*---------------- INICIAL COMEÇO -------------------*/
    #area-inicial {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #inicial-img-solar {
        display: none;
    }

    #inicial-text {
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    #inicial-text p {
        margin-left: unset;
    }
    /*---------------- INICIAL FIM -------------------*/



    /*---------------- SERVIÇOS COMEÇO -------------------*/
    .lista-servicos li {
        width: 55%;
      }
    /*---------------- SERVIÇOS FIM -------------------*/



    /*---------------- SOBRE COMEÇO -------------------*/
    #area-sobre {
        height: 10%;
        flex-direction: column;
        align-items: center;
        gap: 45px;
        padding-bottom: 30px;
    }

    #text-sobre div {
        margin-right:  unset;
        width: 100%;
    }

    #text-sobre {
        width: 70%;
    }

    #img-sobre {
        width: 70%;
    }
    /*---------------- SOBRE FIM -------------------*/



    /*---------------- PRODUTOS COMEÇO -------------------*/
    #area-produtos {
        padding-bottom: 30px;
    }
    /*---------------- PRODUTOS FIM -------------------*/




    /*---------------- DETALHES COMEÇO -------------------*/
    #produtos {
        flex-direction: column;
    }
    /*---------------- DETALHES FIM -------------------*/
}




@media screen and (max-width: 799px) {
    /*---------------- FOOTER COMEÇO -------------------*/
    #top-scroll {
        left: 89%;
        width: 50px;
        height: 50px;
    }

    #redes-sociais {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
    /*---------------- FOOTER FIM -------------------*/



    /*---------------- INICIAL COMEÇO -------------------*/
    #inicial-text {
        width: 100%;
    }
    /*---------------- INICIAL FIM -------------------*/




    /*---------------- MISSÃO COMEÇO -------------------*/
    .itens-missao p {
        font-size: 0.95em;
    }
    /*---------------- MISSÃO FIM -------------------*/




    /*---------------- SERVIÇOS COMEÇO -------------------*/
    .lista-servicos li {
        width: 90%;
    }
    /*---------------- SERVIÇOS FIM -------------------*/




    /*---------------- SOBRE COMEÇO -------------------*/
    #text-sobre {
        width: 95%;
    }

    #text-sobre div p {
        font-size: 0.86em;
    }
    /*---------------- SOBRE FIM -------------------*/




    /*---------------- PRODUTOS COMEÇO -------------------*/
    .filter-element {
        font-size: 0.78em;
    }

    #arc ul li a img {
        width: 140px;
    }
    /*---------------- PRODUTOS FIM -------------------*/




    /*---------------- DETALHES COMEÇO -------------------*/
    #img-geral img {
        width: 100%;
    }

    #area-dados h2 {
        font-size: 1.3em;
    }
    /*---------------- DETALHES FIM -------------------*/
}




@media screen and (max-width: 450px) {
    /*---------------- FOOTER COMEÇO -------------------*/
    #rodape-area {
        height: 10%;
        padding-bottom: 10px;
    }

    #title-contato img {
        width: 100px;
    }

    #endereco-contato h3 {
        font-size: 0.846em;
    }

    #endereco-contato h3 i {
        font-size: 12px;
    }

    #endereco-contato p {
        margin-top: 15px;
        font-size: 0.7em;
    }

    #form-contato h3 {
        font-size: 1.2em;
    }

    #top-scroll {
        left: 80%;

    }

    #copyright p {
        font-size: 0.65em;
    }
    /*---------------- FOOTER FIM -------------------*/



    /*---------------- INICIAL COMEÇO -------------------*/
    #inicial-text p {
        font-size: 1.4em;
    }

    #inicial-text p img {
        width: 250px;
    }
    /*---------------- INICIAL FIM -------------------*/



    /*---------------- MISSÃO COMEÇO -------------------*/
    .itens-missao img {
        width: 80px;
    }

    .itens-missao p {
        font-size: 0.69em;
    }
    /*---------------- MISSÃO FIM -------------------*/



    /*---------------- SERVIÇOS COMEÇO -------------------*/
    .lista-servicos li {
        width: 90%;
    }

    .lista-servicos li p {
        font-size: 0.65em;
    }

    .lista-servicos li .img-l-servicos {
        width: 120px;
    }
    /*---------------- SERVIÇOS FIM -------------------*/



    /*---------------- SOBRE COMEÇO -------------------*/
    #text-sobre div p {
        font-size: 1em;
    }
    /*---------------- SOBRE FIM -------------------*/



    /*---------------- PRODUTOS COMEÇO -------------------*/
    .filter-element {
        font-size: 0.7em;
    }
    /*---------------- PRODUTOS FIM -------------------*/
}
/* ########################### COMEÇO RESPONSIVO ########################### */